[scanner]
scan_shipyards = True
print_shipyards = True
print_fleet = True
scan_market_prices = True
print_market_observations = True
observation_good = COMMON

[navigation]
quickstart_mine = True
scheduler_enabled = True
scheduler_sleep_seconds = 3